# Dependencies
node_modules/

# Build output
build/
*.tgz

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
*.swp

# Visual Studio Code
.vscode/*
!.vscode/extensions.json
!.vscode/settings.default.json

# Copilot mark down
migration-plan.md